body {
    background-color: white;
  }
  h2 {
    color: black;
  }
  p {
    color: black;
  }
  html,body,h1,h2,h3,h4 {
    font-family:'Times New Roman', Times, serif;
    color: black;
  }

.mySlides {
    display:none
}
  
.w3-tag, .fa {
    cursor:pointer
}
.w3-tag {
    height:15px;width:15px;padding:0;margin-top:6px

}
 
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #2E948A;
  overflow: auto;
  height: 60px;
}

.dindin {
  margin-top: 0.4%;
  width: 150px;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Navbar links */
.navbar a {
  background: #2E948A;
  text-align:center;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 6%;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: white;
  text-decoration: none;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #2E948A;
}

/* Current/active navbar link */
.active {
  background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}