/* PÁGINA INICIAL */

:root{
    --first-color: rgba(46, 148, 138, 1);
    --second-color: rgba(255, 64, 129, 1);
    --third-color: rgba(85, 85, 85, 1);
}

* {
    margin: 0;
    top: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}


.header {
    background-color: var(--first-color);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 9999;
}

.header-nav a{
    color: rgba(253, 253, 253, 1);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;
    margin-right: 10px;
}

.header-img img {
    width: 100px;
}

#educ-financeira {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 100px;
}

#educ-financeira-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#educ-financeira img {
    width: 320px;
}

#educ-financeira h1 {
    color: var(--second-color);
}

#educ-financeira h2 {
    color: var(--third-color);
    font-weight: normal;
    margin-bottom: 16px;
}

.educ-financeira-info-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

#educ-financeira a {
    color: var(--second-color);
    border: 2px solid var(--second-color);
    border-radius: 62px;
    width: 177px;
    height: 60px;
    padding: 20px;
}


#educ-financeira-info {
    margin-bottom: 60px;
}

.show-nav {
    display: none;
}

/* ipad */
@media screen and (min-width: 691px) {
    #educ-financeira-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

}

/* desktop */
@media screen and (min-width: 1024px) {
    .header {
        height: 117px;
    }

    .header-nav a {
        font-size: 20px;
        margin-right: 42px;
    }

    .header-img img {
        width: 240px;
    }

    #educ-financeira {
        display: flex;
        flex-direction: row;
        margin-top: 242px;
        justify-content: space-evenly;
    }

    #educ-financeira-img {
        display: inline-block;
    }
    
    #educ-financeira img {
        width: 501px;
    }

    #educ-financeira img {
        padding: 5%;
    }
    
    .educ-financeira-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #educ-financeira h1 {
        font-size: 60px;
        font-weight: 700;
        width: 500px;
    }

    #educ-financeira h2 {
        font-size: 27px;
        width: 400px;
    }

    #educ-financeira a {
        width: 268px;
        height: 51px;
        padding: 10px;
        font-size: 27px;
        padding-left: 24px;
    }

    #educ-financeira-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
  }

.generic-session {
    text-align: left;
}

.educ-financeira-info-item {
    padding: 15px;
}

#educ-financeira-info button {
    font-size: var(--font-size-x-medium);
    font-weight: 400;
    color: var(--secondary-color);
    
    background-color: #FFF;

    border: 0;
    padding: 8px 16px;
    
    border: 1.5px solid var(--secondary-color);
    border-radius: 30px;
}

#educ-financeira-info button:hover {
    background-color: var(--secondary-back-color);
    transition: 0.5s;

    cursor: pointer;
}



/* ------- */

/* 2ª SESSÃO - CURSOS */

#cursos {
    background-color: var(--background-color)
}

.title-cursos {
    display: none;
}

#card-h {
    width: 100vw;
    height: 100vh;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: stretch;

    padding: 60px;
}

.card-cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-cursos strong {
    font-size: 25px;
    color: var(--second-color);
    padding-top: 50px;
}

.card-cursos p {
    width: 65%;
    height: 100px;
    left: 154px;
    top: 1305px;
    font-weight: 300;
    font-size: var(--font-size-xx-small);
    font-weight: 300;
    text-align: center;
    padding: 30px 0px;
    font-family: 'Ubuntu', sans-serif;
    size: 17px;
    

}

.card-cursos img {
    height: 45%;
}

.card-cursos button {
font-size: var(--font-size-x-small);
width: 233px;
height: 51px;
left: 184px;
top: 1391px;
background: var(--second-color);
border: 1px;
border-radius: 62px;
padding: 15px 30px;
cursor: pointer;
color: #FFFFFF

}



.card-cursos button:hover {
    color: var(--secondary-color);
    background-color: var(--secondary-back-color);
    transition: 0.5s;
}

/* ------- */

/* 3ª SESSÃO - O QUE FALAM SOBRE NÓS */

#title-o-que-falam {
      
    color: var(--first-color);
    font-family: 'Nunito';
    font-size: 37px;
    font-weight: 700;

    position: relative;
    top: 15%;
    left: 6%
}

#card-o-que-falam-h {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
}

.card-o-que-falam {
   
    width: 45%;
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.card-o-que-falam img {
   /* width: 50%;*/
    padding-right: 20px;
    
}

.card-o-que-falam-desc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-o-que-falam p {
    color:  #000000;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 363px;
    height: 70.27px;
    left: 260px;
    top: 1806px;
}

.card-o-que-falam small {
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-size:18px;
    font-weight: 400;
}

/* ------- */

/* 4ª SESSÃO - MAIS CONTEÚDO */

#blog-posts {
    background-color:  #E5E5E5;
    position: relative;
    
}

#title-blog-posts {
    color: var(--first-color);
    font-family: 'Ubuntu', sans-serif;
    font-size: 37px;
    font-weight: 700;
    line-height:43px;
    position: relative;

    top: 91px;
    left: 128px;
    height: 73px;
    width: 530px;
}

.card-blog-posts .container {
display: flex;
justify-content: center;
align-items: center;
align-content: space-between;

width: 319px;
height: 193px;
margin-left: 128px;
margin-top: 207px;
background: #C4C4C4;


}

#card-blog-posts-h {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
    /*padding-top: 8%;*/
   
}

.card-blog-posts {
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-content: space-between;
    flex-direction: column;
    padding: 0px 50px;
}

.card-blog-posts strong {
    font-family: 'Ubuntu',sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: var(--first-color);
    padding-top: 15px;
}
.card-blog-posts p {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 31.02px;
}

.button-blog-posts {
    display: flex;
    justify-content: center;
    padding-top: 40px;    
}

.button-blog-posts button {
    width: 289px;;
    height: 51px;
    font-size: 25px;
    font-weight: 400;
    size: 25px;
    color: var(--second-color);
    background-color: ;
    padding: 8px 30px;
    border: 2px solid var(--second-color);
    size-adjust: 10px 10px 41px 41px;
    border-radius: 62px;
}

.button-blog-posts button:hover {

    background-color: var(--secondary--color);
    transition: 0.5s;
        cursor: pointer;
}

.footer  {
    background-color: var(--first-color);
    height: 207px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

.footer img {
margin-left: 128px;
margin-right: 101px;
margin-top: 53px;
margin-bottom: 52.57px;
}

 .footer-nav a {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    size: 20px;
    line-height: 23px;
    weight: 400px;
   
    margin-right: 10px;
 }

 /*button {
    background-color: var(--first-color);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    position: relative;

    
    
 }*/

/*.footer {
background-color: var(--first-color);
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
Width: 1440px;
Height: 207px;
}*/

/* ------- */