:root{
    --first-color: rgba(46, 148, 138, 1);
    --second-color: rgba(255, 64, 129, 1);
    --third-color: rgba(85, 85, 85, 1);
}

* {
    margin: 0;
    top: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    background-color: var(--first-color);
    height: 117px;
    width: 100%;
    margin-top: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header-nav a{
    color: rgba(253, 253, 253, 1);
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-right: 103px;
    width: 95x;
    height: 23px;
    line-height: 22.98px;

}

.header-img img {
    width: 164px;
}

#form {
   

}

.form-contact {
    width: 30vw;

    display: flex;
    flex-direction: column;
}

.form-contact h2 {
  /*  font-size: var(--font-size-large);
    font-weight: 700;
    color: var(--secondary-color);*/
    width: 154px;
    height: 46px;



font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46px;
}

.form-contact input {
    margin: 0.4rem 0;
    padding: 0.3rem 1.2rem;
    border: 1px solid var(--neutral-color);
    border-radius: 7px;
}

.form-contact textarea {
    margin: 0.4rem 0;
    height: 10vw;

    padding: 0.3rem 1.2rem;

    border: 1px solid var(--neutral-color); 
    border-radius: 7px;

    font-family: 'Ubuntu';

    resize: none;
}

.form-contact button {
    width: 150px;
    height: 40px;   

    font-size: var(--font-size-x-small);
    color: #FFF;

    background-color: var(--secondary-color);
    
    border: 0;
    border-radius: 30px;

    cursor: pointer;
}

.form-contact button:hover {
    color: var(--secondary-color);
    background-color: var(--secondary-back-color);
    transition: 0.5s;
}



/* ------- */

/* RESPONSIVO TELAS até 480px */

/* ------- */

@media screen and (max-width: 480px) {

    .show-nav {
        display: block;

        background: 0;
        border: 0;

        position: absolute;

        width: 3rem;

        top: 10px;
        left: 10px;
    }
    
    .header {
        display: none;
    }

    /* FORMULÁRIO */

    #form {
        width: 100%;
        margin: 8% 0;
        
        flex-direction: column-reverse;

        padding: 8%;
    }

    .form-contact {
        width: 100vw;
    }

    .form-contact h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .form-contact textarea {
        height: 100px;
    }

    .form-contact button {
        margin: 0 auto;
    }
    
    .form-contact button { 
        font-size: 1.2rem;
        padding: 0;
    }

    .form-img {
        width: 60%;
        margin-bottom: 8%;
    }

}

/* ------- */

/* RESPONSIVO TELAS de 481px a 768px */

/* ------- */

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #form {
        width: 100%;

        margin: 8% 0;
        
        flex-direction: column-reverse;

        padding: 8%;
    }

    .form-contact {
        width: 100vw;
    }

    .form-contact h2 {
        font-size: 2rem;
    }
    
    .form-contact textarea {
        height: 100px;
    }

    .form-contact button {
        margin: 0 auto;   
        font-size: 1.2rem;
    }

    .form-img {
        width: 60%;
        margin-bottom: 8%;
    }

}

/* ------- */

/* RESPONSIVO TELAS de 769px a 1024px */

/* ------- */

@media only screen and  (min-width: 769px) and (max-width: 1024px) {

    #form {
        height: 80vw;
        margin-right: 8%;
        justify-content: space-around;
    }

    .form-contact h2 {
        font-size: 2rem;
    }
    
    .form-contact button {
        font-size: 1.2rem;
        padding: 0.1rem 0.1rem;
    }

    .form-img {
        width: 50%;
    }

}